.workCard {
    padding: 8px 0px;
    width: 70%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.workLogo {
    height: 160px;
}

.workInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px;
}

.workName {
    font-size: 24px;
    font-weight: 600;
}

.workDate {
    color: grey;
}

.workDesc {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

@media only screen and (max-width: 800px) {
    .workCard{
        width: 100%;
    }
}